In [1]:
#%pip install pandas

In [2]:
#%pip install pandas-profiling

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("OriginalData.csv")

# Profiling Report of data

In [5]:
#profile = ProfileReport(df)
#profile.to_file(output_file="Appointments.html")

In [6]:
df.head()

,AppointmentID,PatientID,ClinicNM,AppointmentDTS,AppointmentMonthNBR,AppointmentWeekdayNBR,AppointmentHourNBR,AgeNBR,SexFLG,HispanicFLG,...,AppttoCheckoutNBR,CheckintoApptNBR,Arrived24NBR,Providers24CNT,ThatProvider24NBR,NoshowRate24NBR,EdVisitsNBR,IpVisitsNBR,NoShowFLG,CancelledLateFLG
0,21725,1,E,4/10/18,4,3,17,50,F,0,...,50.0,-1.0,2.0,2.0,0.0,0.0,0,0,1,0
1,11206,2,A,2/7/18,2,4,10,80,M,0,...,49.0,1.0,2.0,1.0,5.0,0.0,0,0,0,1
2,12548,2,A,2/8/18,2,5,16,80,M,0,...,49.0,1.0,2.0,1.0,6.0,0.0,0,0,0,0
3,12727,2,A,3/8/18,3,5,15,80,M,0,...,48.0,7.0,3.0,1.0,8.0,0.0,0,0,0,0
4,86882,2,A,11/9/18,11,6,16,80,M,0,...,47.0,13.0,3.0,1.0,13.0,0.0,0,0,0,0

In [7]:
df.describe()

,AppointmentID,PatientID,AppointmentMonthNBR,AppointmentWeekdayNBR,AppointmentHourNBR,AgeNBR,HispanicFLG,SingleFLG,LivesInApartmentFLG,EmailFLG,...,AppttoCheckoutNBR,CheckintoApptNBR,Arrived24NBR,Providers24CNT,ThatProvider24NBR,NoshowRate24NBR,EdVisitsNBR,IpVisitsNBR,NoShowFLG,CancelledLateFLG
count,95221.000000,95221.000000,95221.000000,95221.000000,95221.000000,95221.000000,95221.000000,95221.000000,95221.000000,95221.000000,...,88456.000000,91105.000000,93605.000000,93605.000000,93605.000000,93605.000000,95221.000000,95221.000000,95221.000000,95221.000000
mean,47611.000000,16752.134582,6.561452,3.988101,12.011353,44.532792,0.129520,0.553649,0.196343,0.490522,...,42.321787,6.913781,13.982789,6.281652,15.921564,0.071268,0.649426,0.021109,0.095630,0.159849
std,27488.079328,9649.346171,3.344395,1.391333,2.769707,22.984130,0.335776,0.497116,0.397233,0.499913,...,72.892606,21.241061,16.276161,5.572236,25.227483,0.131601,2.271323,0.172018,0.294085,0.366468
min,1.000000,1.000000,1.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-933.000000,-958.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23806.000000,8386.000000,4.000000,3.000000,10.000000,27.000000,0.000000,0.000000,0.000000,0.000000,...,31.000000,2.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,47611.000000,16640.000000,6.000000,4.000000,11.000000,46.000000,0.000000,1.000000,0.000000,0.000000,...,48.000000,7.000000,9.000000,5.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,71416.000000,25323.000000,10.000000,5.000000,14.000000,62.000000,0.000000,1.000000,0.000000,1.000000,...,67.000000,13.000000,18.000000,8.000000,21.000000,0.100000,1.000000,0.000000,0.000000,0.000000
max,95221.000000,33473.000000,12.000000,7.000000,19.000000,118.000000,1.000000,1.000000,1.000000,1.000000,...,768.000000,656.000000,276.000000,57.000000,383.000000,1.000000,155.000000,6.000000,1.000000,1.000000

# Number of unique Patients in the data

In [8]:
df['PatientID'].nunique()

33473

In [9]:
df.isnull().sum()

AppointmentID               0
PatientID                   0
ClinicNM                    0
AppointmentDTS              0
AppointmentMonthNBR         0
AppointmentWeekdayNBR       0
AppointmentHourNBR          0
AgeNBR                      0
SexFLG                      0
HispanicFLG                 0
SingleFLG                   0
LivesInApartmentFLG         0
EmailFLG                    0
ApptLagNBR                  0
InsuranceDSC                0
HypertensionFLG             0
AsthmaFLG                   0
HeartDiseaseFLG             0
ObeseFLG                    0
DiabetesFLG                 0
Noshow24NBR              1616
CancellationsNBR         1616
Latearrivals24NBR        1616
CheckintoCheckoutNBR     6765
AppttoCheckoutNBR        6765
CheckintoApptNBR         4116
Arrived24NBR             1616
Providers24CNT           1616
ThatProvider24NBR        1616
NoshowRate24NBR          1616
EdVisitsNBR                 0
IpVisitsNBR                 0
NoShowFLG                   0
CancelledLateFLG            0
dtype: int64

In [10]:
showdf = df[ df['NoShowFLG'] == 0]

In [11]:
showdf.isnull().sum()

AppointmentID               0
PatientID                   0
ClinicNM                    0
AppointmentDTS              0
AppointmentMonthNBR         0
AppointmentWeekdayNBR       0
AppointmentHourNBR          0
AgeNBR                      0
SexFLG                      0
HispanicFLG                 0
SingleFLG                   0
LivesInApartmentFLG         0
EmailFLG                    0
ApptLagNBR                  0
InsuranceDSC                0
HypertensionFLG             0
AsthmaFLG                   0
HeartDiseaseFLG             0
ObeseFLG                    0
DiabetesFLG                 0
Noshow24NBR              1376
CancellationsNBR         1376
Latearrivals24NBR        1376
CheckintoCheckoutNBR     5772
AppttoCheckoutNBR        5772
CheckintoApptNBR         3545
Arrived24NBR             1376
Providers24CNT           1376
ThatProvider24NBR        1376
NoshowRate24NBR          1376
EdVisitsNBR                 0
IpVisitsNBR                 0
NoShowFLG                   0
CancelledLateFLG            0
dtype: int64

In [12]:
noShowDf = df[df['NoShowFLG']==1]

In [13]:
showdf.dropna().describe()

,AppointmentID,PatientID,AppointmentMonthNBR,AppointmentWeekdayNBR,AppointmentHourNBR,AgeNBR,HispanicFLG,SingleFLG,LivesInApartmentFLG,EmailFLG,...,AppttoCheckoutNBR,CheckintoApptNBR,Arrived24NBR,Providers24CNT,ThatProvider24NBR,NoshowRate24NBR,EdVisitsNBR,IpVisitsNBR,NoShowFLG,CancelledLateFLG
count,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,...,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.000000,80343.0,80343.000000
mean,47484.477739,16278.279576,6.548984,3.986035,11.963818,46.269445,0.116998,0.531509,0.189413,0.513946,...,42.407665,7.087388,14.788208,6.576677,17.267540,0.060591,0.648096,0.021968,0.0,0.175323
std,27529.684501,9427.043634,3.348095,1.386088,2.765961,22.940206,0.321420,0.499009,0.391839,0.499809,...,71.471632,20.148128,16.454723,5.561190,25.983765,0.108508,2.352977,0.176549,0.0,0.380246
min,2.000000,2.000000,1.000000,1.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-933.000000,-958.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,23642.500000,8131.000000,4.000000,3.000000,10.000000,29.000000,0.000000,0.000000,0.000000,0.000000,...,31.000000,2.000000,5.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000
50%,47345.000000,15963.000000,6.000000,4.000000,11.000000,49.000000,0.000000,1.000000,0.000000,1.000000,...,48.000000,7.000000,9.000000,5.000000,8.000000,0.000000,0.000000,0.000000,0.0,0.000000
75%,71359.500000,24535.000000,10.000000,5.000000,14.000000,64.000000,0.000000,1.000000,0.000000,1.000000,...,67.000000,13.000000,19.000000,9.000000,23.000000,0.086956,1.000000,0.000000,0.0,0.000000
max,95221.000000,33473.000000,12.000000,7.000000,19.000000,110.000000,1.000000,1.000000,1.000000,1.000000,...,768.000000,433.000000,276.000000,57.000000,383.000000,0.833333,155.000000,6.000000,0.0,1.000000

### -Ve Values of AppttoCheckoutNBR in show

In [14]:
showdf[showdf['AppttoCheckoutNBR'] <0]

,AppointmentID,PatientID,ClinicNM,AppointmentDTS,AppointmentMonthNBR,AppointmentWeekdayNBR,AppointmentHourNBR,AgeNBR,SexFLG,HispanicFLG,...,AppttoCheckoutNBR,CheckintoApptNBR,Arrived24NBR,Providers24CNT,ThatProvider24NBR,NoshowRate24NBR,EdVisitsNBR,IpVisitsNBR,NoShowFLG,CancelledLateFLG
27,91011,14,B,12/18/18,12,3,15,69,F,0,...,-18.0,7.0,18.0,6.0,31.0,0.000000,0,0,0,1
37,15417,19,E,2/19/18,2,2,14,48,F,0,...,-19.0,2.0,2.0,1.0,0.0,0.333333,1,0,0,0
183,91619,69,B,12/11/18,12,3,10,23,F,1,...,-5.0,10.0,21.0,18.0,7.0,0.125000,1,0,0,0
191,36677,69,B,5/7/18,5,2,15,23,F,1,...,-40.0,12.0,9.0,8.0,0.0,0.181818,0,0,0,0
192,53484,69,B,7/12/18,7,5,14,23,F,1,...,-2.0,13.0,12.0,11.0,0.0,0.200000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95154,95185,33446,B,12/28/18,12,6,9,30,F,1,...,-54.0,15.0,6.0,6.0,2.0,0.250000,1,0,0,0
95161,85522,33450,B,11/3/18,11,7,11,46,M,1,...,-88.0,7.0,5.0,3.0,0.0,0.285714,0,0,0,0
95164,3790,33450,B,4/12/18,4,5,15,46,M,1,...,-94.0,9.0,3.0,2.0,5.0,0.000000,0,0,0,0
95168,1285,33453,A,6/4/18,6,2,8,60,F,0,...,-4.0,54.0,4.0,2.0,16.0,0.000000,0,0,0,0
95205,11857,33466,B,2/12/18,2,2,9,61,M,0,...,-7.0,0.0,25.0,10.0,0.0,0.358974,2,0,0,1

### -Ve Values of AppttoCheckoutNBR in Noshow

In [15]:
noShowDf[noShowDf['AppttoCheckoutNBR'] <0]

,AppointmentID,PatientID,ClinicNM,AppointmentDTS,AppointmentMonthNBR,AppointmentWeekdayNBR,AppointmentHourNBR,AgeNBR,SexFLG,HispanicFLG,...,AppttoCheckoutNBR,CheckintoApptNBR,Arrived24NBR,Providers24CNT,ThatProvider24NBR,NoshowRate24NBR,EdVisitsNBR,IpVisitsNBR,NoShowFLG,CancelledLateFLG
193,48963,69,B,6/21/18,6,5,16,23,F,1,...,-2.0,13.0,12.0,11.0,6.0,0.142857,0,0,1,0
197,22416,69,B,3/15/18,3,5,16,23,F,1,...,-40.0,11.0,7.0,6.0,2.0,0.125000,0,0,1,0
332,23204,118,B,6/14/18,6,5,14,46,M,0,...,-114.0,12.0,5.0,3.0,8.0,0.285714,1,0,1,0
410,39737,156,B,5/16/18,5,4,9,61,F,1,...,-21.0,22.0,17.0,9.0,37.0,0.055555,1,0,1,0
497,50827,189,B,7/16/18,7,2,13,70,F,0,...,-183.0,-11.0,2.0,2.0,0.0,0.000000,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94952,77919,33380,B,11/1/18,11,5,13,57,M,0,...,-192.0,11.0,18.0,8.0,13.0,0.100000,6,1,1,0
95013,87312,33398,B,11/15/18,11,5,11,83,F,0,...,-39.0,15.0,49.0,11.0,102.0,0.000000,8,0,1,0
95150,13975,33446,B,3/28/18,3,4,14,30,F,1,...,-16.0,13.0,8.0,6.0,2.0,0.272727,1,0,1,0
95160,80255,33450,B,10/17/18,10,4,14,46,M,1,...,-88.0,7.0,5.0,3.0,0.0,0.000000,0,0,1,0
95162,84155,33450,B,10/31/18,10,4,16,46,M,1,...,-88.0,7.0,5.0,3.0,1.0,0.166666,0,0,1,0

### Age values zero

In [16]:
zeroAges = df[df['AgeNBR'] == 0]
#zeroAges

In [17]:
df[df['Latearrivals24NBR'] > df['ThatProvider24NBR']].head()

,AppointmentID,PatientID,ClinicNM,AppointmentDTS,AppointmentMonthNBR,AppointmentWeekdayNBR,AppointmentHourNBR,AgeNBR,SexFLG,HispanicFLG,...,AppttoCheckoutNBR,CheckintoApptNBR,Arrived24NBR,Providers24CNT,ThatProvider24NBR,NoshowRate24NBR,EdVisitsNBR,IpVisitsNBR,NoShowFLG,CancelledLateFLG
0,21725,1,E,4/10/18,4,3,17,50,F,0,...,50.0,-1.0,2.0,2.0,0.0,0.000000,0,0,1,0
8,29351,5,C,4/5/18,4,5,10,23,F,0,...,65.0,10.0,27.0,17.0,0.0,0.000000,0,0,0,0
14,2091,9,A,1/26/18,1,6,14,35,M,1,...,47.0,-1.0,5.0,2.0,0.0,0.375000,0,0,1,0
16,23310,11,E,3/15/18,3,5,15,22,F,0,...,72.0,2.0,9.0,7.0,2.0,0.250000,0,0,0,0
17,36467,11,E,5/8/18,5,3,16,22,F,0,...,71.0,3.0,10.0,8.0,3.0,0.230769,0,0,1,0

In [18]:
# Negative samples for CheckintoCheckoutNBR  in noShowDf
negative_samples_CheckintoCheckoutNBR_noShowDf = noShowDf[noShowDf['CheckintoCheckoutNBR'] <0].index.size
negative_samples_CheckintoCheckoutNBR_noShowDf

1006

In [19]:
# Negative samples for CheckintoCheckoutNBR  in ShowDf
negative_samples_CheckintoCheckoutNBR_showdf = showdf[showdf['CheckintoCheckoutNBR'] <0].index.size
negative_samples_CheckintoCheckoutNBR_showdf

7538

In [20]:
# Negative samples for AppttoCheckoutNBR in noShowDf
negative_samples_AppttoCheckoutNBR_noShowDf = noShowDf[noShowDf['AppttoCheckoutNBR'] <0].index.size
negative_samples_AppttoCheckoutNBR_noShowDf

1143

In [21]:
# Negative samples for AppttoCheckoutNBR in ShowDf
negative_samples_AppttoCheckoutNBR_showdf = showdf[showdf['AppttoCheckoutNBR'] <0].index.size
negative_samples_AppttoCheckoutNBR_showdf

8709

In [32]:
# Drop rows if it has negative value either in AppttoCheckoutNBR or CheckintoCheckoutNBR in showdf
# same as drop

showdf = showdf[(showdf['AppttoCheckoutNBR'] >=0) &  (showdf['CheckintoCheckoutNBR'] >=0)]
len(showdf)

# indices = showdf[(showdf['AppttoCheckoutNBR'] <0) |  (showdf['CheckintoCheckoutNBR'] <0)].index
# showdf.drop(indices, inplace=True)
# showdf.index.size

71515

In [31]:
showdf.head(5)

,AppointmentID,PatientID,ClinicNM,AppointmentDTS,AppointmentMonthNBR,AppointmentWeekdayNBR,AppointmentHourNBR,AgeNBR,SexFLG,HispanicFLG,...,AppttoCheckoutNBR,CheckintoApptNBR,Arrived24NBR,Providers24CNT,ThatProvider24NBR,NoshowRate24NBR,EdVisitsNBR,IpVisitsNBR,NoShowFLG,CancelledLateFLG
1,11206,2,A,2/7/18,2,4,10,80,M,0,...,49.0,1.0,2.0,1.0,5.0,0.0,0,0,0,1
2,12548,2,A,2/8/18,2,5,16,80,M,0,...,49.0,1.0,2.0,1.0,6.0,0.0,0,0,0,0
3,12727,2,A,3/8/18,3,5,15,80,M,0,...,48.0,7.0,3.0,1.0,8.0,0.0,0,0,0,0
4,86882,2,A,11/9/18,11,6,16,80,M,0,...,47.0,13.0,3.0,1.0,13.0,0.0,0,0,0,0
5,95113,3,A,12/28/18,12,6,15,32,F,0,...,45.0,2.0,3.0,3.0,11.0,0.0,0,0,0,0

In [33]:
# Drop rows if it has negative value either in AppttoCheckoutNBR or CheckintoCheckoutNBR in noShowDf
# same as drop

noShowDf = noShowDf[(noShowDf['AppttoCheckoutNBR'] >=0) &  (noShowDf['CheckintoCheckoutNBR'] >=0)]
len(noShowDf)

# indices = noShowDf[(noShowDf['AppttoCheckoutNBR'] <0) |  (noShowDf['CheckintoCheckoutNBR'] <0)].index
# noShowDf.drop(indices, inplace=True)
# noShowDf.index.size

6952

In [27]:
# showdf.head(10) showdfCln.head(10)

# Separate input features and target
y = df.Class
X = df.drop('Class', axis=1)

# setting up testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=27)

sm = SMOTE(random_state=27, ratio=1.0)
X_train, y_train = sm.fit_sample(X_train, y_train)

AttributeError: 'DataFrame' object has no attribute 'Class'

# Sampling Starts from here

In [99]:
# need to install packages
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, recall_score
from sklearn import tree

In [39]:
# marging show and no show
dataset = pd.concat([showdf, noShowDf], axis=0)
len(dataset)
dataset.head(3)

,AppointmentID,PatientID,ClinicNM,AppointmentDTS,AppointmentMonthNBR,AppointmentWeekdayNBR,AppointmentHourNBR,AgeNBR,SexFLG,HispanicFLG,...,AppttoCheckoutNBR,CheckintoApptNBR,Arrived24NBR,Providers24CNT,ThatProvider24NBR,NoshowRate24NBR,EdVisitsNBR,IpVisitsNBR,NoShowFLG,CancelledLateFLG
1,11206,2,A,2/7/18,2,4,10,80,M,0,...,49.0,1.0,2.0,1.0,5.0,0.0,0,0,0,1
2,12548,2,A,2/8/18,2,5,16,80,M,0,...,49.0,1.0,2.0,1.0,6.0,0.0,0,0,0,0
3,12727,2,A,3/8/18,3,5,15,80,M,0,...,48.0,7.0,3.0,1.0,8.0,0.0,0,0,0,0

In [96]:
y = dataset.NoShowFLG
#need to drop non numeric data
X = dataset.drop(columns=['NoShowFLG','ClinicNM','AppointmentDTS','SexFLG','InsuranceDSC'],axis=1)

In [97]:
# setting up testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

print(len(X_train))
print(len(X_test))

sm = SMOTE(sampling_strategy='auto',random_state=42)
# make X-train balanced
X_train, y_train = sm.fit_sample(X_train, y_train)

print(len(X_train))

58850
19617
107190

In [98]:
# both show and noshow have equal number of sample
y_train.groupby(y_train).count()

NoShowFLG
0    53595
1    53595
Name: NoShowFLG, dtype: int64

# STEP 3: Normalizing Data

# STEP 4: Choose algorithms

In [100]:
def dist(arr1,arr2): #Compute the distance between two arrays
    d = 0
    if len(arr1) != len(arr2): #Handle exception case
        print('Error of unequal length')
        exit()
    else:
        for i in range (len(arr1)):
            d += (arr1[i] - arr2[i])**2
        return np.sqrt(d)

In [101]:
def assignment(df): #Assign each sample to a cluster
    for i in centroids.keys():
        df['distance_from_cluster_{}'.format(i)] = df.apply(lambda row: dist(row[0:dim], centroids[i]), axis = 1)
    df['nearest'] = df.loc[:, dist_cols].idxmin(axis=1)
    df['nearest'] = df['nearest'].map(lambda x: int(x.lstrip('distance_from_cluster_')))
    return df

0.7632155783249223
0.24113706910635516
0.4348850913376547

In [95]:
def update_centroids(df): #Update the centroids with new values
    for i in centroids.keys():
        centroid_df = df[ df['nearest'] == i].drop(columns = dist_cols).drop(columns = 'nearest') # Filter only the data of the centroid
        m = centroid_df.mean(axis = 0, skipna = True).to_numpy() #Calculate the new centroid as the mean of the data
        centroids[i] = m #Update this new value into the centroids dictionary

0.4348850913376547